<html>
  <head>
    <title>SE☆コレクション</title>
  </head>
  <body onload='init()'>
    <div style='background-image: url("/dummy.jpg");width:440px;height:560px'>

    </div>

    <p>
      <a href='/'>拠点</a>
      <a href='/senario'>探索</a>
      <a href=''>編成</a>
      <a href=''>強化</a>
      <a href=''>合成</a>
      <a href=''>ガチャ</a>
    </p>

    <div id='debug'>
      <p><a href='/init'>初期化</a>　<%= Time.now %></p>
      <textarea id='console' style='background-color:black;color:green;width:800px;height:150px'>
        <% if @console != nil %>
        <% @console.each do |o| %>
> <%= o.inspect %>
        <% end %>
        <% end %>
      </textarea>
    </div>
    <script>
      function init(){
        var on_bottom = function(){
          console.log('run')
          var targetId = 'console';
          var obj = document.getElementById(targetId);
          if(!obj) return;
          obj.scrollTop = obj.scrollHeight;
        };

        on_bottom();
      }
    </script>
  </body>
</html>
